$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color-dark: #1b9df0;
$quaternary-color-light: #43b1f8;
$quinary-color-dark: #545454;
$senary-color-light: #a6a6a6;

div {
  background-color: $primary-color;
  color: $tertiary-color-dark;
}

